@using Plotly.Blazor

<div class="card" style="width:90rem;">
  <div class="card-body">
    <p>Wave Start: @Spa.Headers.FirstX</p>
    <p>Wave End: @Spa.Headers.LastX</p>
    <p>Wave Resolution: @Spa.Headers.Resolution</p>
    <p>Spectra Description: @Spa.Title</p>
    <p>File Description:<br /><pre>@Spa.History</pre></p>
    <p>@Spa.Headers.YUnitTitle size: @Spa.UnitIntensities.Length</p>
    <p>@Spa.Headers.YUnitTitle Interferogram size: @Spa.UnitInterferogram.Length</p>
    <p>Background Interferogram size: @Spa.BackgroundInterferogram.Length</p>
  </div>
</div>
@if (Data != null)
{
  <div class="border rounded-lg m-5 p-1" style="width: 720px;">
    <PlotlyChart @bind-Config="Config" @bind-Layout="Layout" @bind-Data="Data" @ref="Chart"/>
  </div>
}
