@using Plotly.Blazor

@*<div class="card" style="width:90rem;">
  <div class="card-body">
    <p>First X Value: @Spa.Headers.FirstX</p>
    <p>Last X Value: @Spa.Headers.LastX</p>
    <p>Data spacing: @Spa.Headers.DataSpacing</p>
    <p>Title: @Spa.Title</p>
    <p>History:<br /><pre>@Spa.History</pre></p>
    <p>@Spa.Headers.YUnitTitle size: @Spa.UnitIntensities.Length</p>
    <p>@Spa.Headers.YUnitTitle Interferogram size: @Spa.UnitInterferogram.Length</p>
    <p>Background Interferogram size: @Spa.BackgroundInterferogram.Length</p>
  </div>
</div>*@

@if (Data != null)
{
  <div class="border rounded-lg m-5 p-1" >
    <PlotlyChart @bind-Config="Config" @bind-Layout="Layout" @bind-Data="Data" @ref="Chart" />
  </div>
}
