@using Plotly.Blazor
@using Plotly.Blazor.LayoutLib
@using Blazorise.Charts.Streaming


@if (Data != null)
{

    @if (Sliders != null)
    {
      <div class="row">
        @foreach (var sldr in Sliders)
        {
          <div class="col-md-4">
             <Slider TValue="double" Step="@sldr.Step" @bind-Value="@sldr.Value" Max="@sldr.Max" Min="@sldr.Min" />
             <Span>@sldr.Value</Span>
          </div>
        }    
      </div>
    }



  <div class="row">
      <div class="col">
        <LineChart @ref="lineChart" TItem="object" OptionsObject="@Options"  />    
      </div>
  </div>



}




